.hz__Toast {
  font-size: 14px;

  position: fixed;
  top: 50%;
  left: 50%;

  max-width: 70%;
  padding: 8px 12px;

  transform: translate3d(-50%,-50%,0);
  text-align: center;
  word-wrap: break-word;

  color: #fff;
  border-radius: 2px;
  background-color: rgba(50,50,51,.88);
  z-index: 999999;
}
