.hz__List {
    position: relative;

    overflow: hidden;
    .hz__List-container {
        position: relative;

        overflow-y: scroll;

        height: 100%;

        &.hz__List-animate {
            transition: all .2s ease;
        }

        .hz__List-loading,
        .hz__List-more_load,
        .hz__List-finish {
            font-size: 14px;

            display: flex;

            height: 50px;

            color: #999;

            align-items: center;
            justify-content: center;
        }
        .hz__List-more_load {
            visibility: hidden;
        }
        .hz__List-content {
            display: block;
        }
    }
}
